# Ignore Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Virtual environment
venv/
env/

# Logs and outputs
*.log
output_prediction.mp4
*.tmp
*.DS_Store

# Checkpoints / models
outputs/checkpoints/
*.pt
*.pth

# Streamlit cloud auto cache
.cache/
